body
{h1{font-size: 70px;color:#CC7722;}
.intro,.intro2,.intro3{background-color:#FDEFB2;}
p,u1,ol{color:#622A0F; }
table{background-color: #FCF4A3;}
.intro{color:#DD571C;}
.intro2{color:#FC6A03;}
.intro3{color:#ED820E; }
}